
<style>
  /*
  00000000000000000000000000000000000000000000000000
  SSS      SSS       SSS    SSS  SSS  SSS        SSS
  OOO  OOOOOOO  OOO  OOO  O  OO  OOO  OOO  OOOO  OOO
  NNN      NNN  NNN  NNN  NN  N  NNN  NNN        NNN
  IIIIIII  III  III  III  III    III  III  IIII  III
  AAA      AAA       AAA  AAAA   AAA  AAA  AAAA  AAA
  00000000000000000000000000000000000000000000000000
  */


  #inner h1{
    text-align: center;
  }

  #about_content{
    color: #fff;
    background: #ffc;
    display: block;
    max-width: 900px;
    margin: 50px auto 50px auto;
  }

  #about_content img{
    float: left;
    margin-right: 10px;
    border-right: 4px solid #f33;
  }

  #about_content p{
    padding-top: 10px;
    color: #000;
    margin-top: 0;
    padding-right: 10px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 700;
  }

  #owner_details img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 50%;
  }

  .img-box {
    position: relative;
  }
    
  .img-box img {
    display: block;
    width: 100%;
    height: auto;
  }
  /* starting of hover effets */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    border-radius: 50%;
    transition: .5s ease-in-out all;
    background-color: rgba(255,255,255,0.3);
  }
    
  .img-box:hover > .overlay {
    opacity: 1;
    cursor: pointer;  
    
  }
    
  .text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-weight: 400;
  }

</style>