   
<style>
  /*
  00000000000000000000000000000000000000000000000000
  SSS      SSS       SSS    SSS  SSS  SSS        SSS
  OOO  OOOOOOO  OOO  OOO  O  OO  OOO  OOO  OOOO  OOO
  NNN      NNN  NNN  NNN  NN  N  NNN  NNN        NNN
  IIIIIII  III  III  III  III    III  III  IIII  III
  AAA      AAA       AAA  AAAA   AAA  AAA  AAAA  AAA
  00000000000000000000000000000000000000000000000000
  */

  #inner h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', 'Times New Roman',serif;
  }
  
  .box{
    display: inline-block;
    height: 500px;
    background: #fff;
    border-radius: 20px ;
    margin-left: 10px;
    margin-right: 10px;  
    float: left;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .box img{
    display: block;
    transition: 0.5s all ease-in-out;
    transform: scale(1.4);
    transform-origin: 50% 50%;
    border-radius: 20px 20px 0 0; 
    opacity: 0.2;
  }
  
  .box img:hover{
    transform: scale(1);
    opacity: 1; 
  }
    
  .text{
    color: #000;
    font-size: 25px;
    clear: both;
    padding-top: 20px;
    opacity: 1;
    transition: 0.5s all ease-in-out;
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 400;
  }
  
</style>