/* media queries for home page */

body{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #cfcfcf;
  font-weight: 400;
}

header, footer, div, nav, ul, li{
  box-sizing: border-box;
}
#inner_header,footer, #container{
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.80);
}

#inner_header{
  margin: 0 auto;
  background-color: rgba(0, 0, 0,0.9);
  color: #fff;
  height: 100px; 
  z-index: 100;
}

#inner_header span{
  display: block;
  margin-left: 75px;
}

/* logo positioning */

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
  width: 200px;
  max-width: 100%;
}

/* main section */

#container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 1000px;
  background-color: #300;
  background: -webkit-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -moz-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -ms-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: -o-linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  background: linear-gradient(140deg, rgba(153, 0, 0,1), rgba(0,0,0,1));
  overflow: hidden;
}

#inner{
  width: 100%;
  max-width: 960px;
}

/* CSS foro book now button */

button{
  position: absolute;
  right:8px;
  top: 10px;
  /* left: 260px; */
  color: #fff;
  background:#900;
  padding: 4px 6px;
  border: 2px solid #900;
  font-size: 1em;
  border-radius:4px; 
}

button:hover{
  box-shadow: 0 0 0 2px #fff;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Animation with keyframes */

@-webkit-keyframes swing
{
  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
     transform: translateX(-5px);
  } 
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@keyframes swing
{
  15%
  {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
  }
  30%
  {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
  }
  50%
  {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
  }
  65%
  {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
  }
  80%
  {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

/* CSS for Social Media Icons */

#social_media{
  display: none;
}

#phone{
  display: none;
}

header{
  width: 100%;
}

/* navigational elemets */

nav#main>ul{
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav#main ul li{
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #cfcfcf;
  padding-right: 25px;
  font-size: 16px;
  font-family: 'Roboto Slab','Times New Roman', serif;
  font-weight: 700;
  position: relative;
}

nav#main>ul >li:first-child{
  border-top: 1px solid #cfcfcf;
}

nav#main ul li a{
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0 6px;
}

nav#main ul li a:visited,
nav#main ul li a:link{
  color: #fff; 
}

nav#main ul li a:hover,
nav#main ul li a:active{
  color: #fff;
  background: rgba(153,0,0,0.8);
  border-top: 2px solid #300;
  border-bottom: 2px solid #300;
  border-radius: 4px;
}

#toggle_menu{
  display: block;
  position: absolute;
  right: 0px;
  top: 60px;
  width: 50px;
  height: 36px;
}

ul#navlist:hover{
  display: block;
}

#toggle_menu:hover + ul{
  display: block;
}





/* for image responsiveness */

img{
  max-width: 100%;
}

/* css for span styling */

span.underline{
  border-left: 5px solid #ff3;
  padding: 2px 5px 2px 10px;
  font-family: 'Cookie', cursive;
  font-size: 2em;
}

/* CSS for Footer */

footer{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100px;
  background: #300;
  overflow: hidden;
  text-align: center;
}

.footer_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #000;
  }

.footer_row div {
  text-align: left;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  width: 100%;
  max-width: 230px;
  background: #000;
  color: #fff;
}


.footer_row div h1{
  margin-top: 0;
  font-family: 'Raleway','arial', sans-serif;
  font-weight: 700;
}

#contact_us h2{
  margin-bottom: 0;
  font-size: 1.2em;
}

#contact_us p{
  margin-top: 0;
  margin-bottom: 0;
}

footer > p{
  background: #300;
  color: #fff;
  font-family: 'Raleway','Arial', sans-serif;
  font-weight: 400;
}

#services ul{
  margin: 0;
  padding: 0;
}

#services ul li {
  list-style-type: none;
  text-decoration: none;
}

#quick_links ul{
  margin: 0;
  padding: 0;
}

#quick_links ul li {
  list-style-type: none;
}

#quick_links ul li a{
  text-decoration: none;
  color: #fff;
}

#quick_links ul li a:hover,
#quick_links ul li a:active{
  text-decoration: underline;
}

#inner{
  margin-top: 5px;
  color: #fff;
}

/* about.html page */
#about_content{
  padding-left: 10px;
  padding-right: 10px;
  }
  
#about_content h2,
#about_content p{
  clear: both;
}

/* photo.html page */
.gallery_pic:nth-child(even){
  margin-left: 50px;
}

/* Services.html page */
#servies_info{
  margin-left: 40px;
}

/* contact.html page */
div.two_col{
  margin-left: 15px;
  column-count: 1;
}

div#contact_info img{
  margin-left: 15px;
  width: 300px;
  height: auto;
}






























