/* media queries for the print only */

nav#main,
button,
.footer_row,
#phone img,
#phone span,
#social_media{
  display:none;
}

body{
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#container{
  width: 100%;
}

header{
  position: relative;
  height: 108px;
  width: 100%;
}

header .logo{
  position: absolute;
  top: 8px;
  left: 0px;
}

